.color-picker {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  &__item {
    height: 15px;
    width: 15px;
    cursor: pointer;

    &:nth-of-type(1) {
      border: 1px solid white;
      overflow: hidden;
      &::before {
        display: flex;
        line-height: 0.7;
        align-items: center;
        justify-content: center;
        content: "X";
        font-size: 1.3rem;
        font-weight: 200;
        color: rgb(219, 219, 219);
      }
    }
  }
}
