@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import "./settings/variables";
@import "import";
@import "ui";

* {
  margin: 0;
  box-sizing: border-box;

  p {
    margin: 0;
  }
}

body {
  background-color: $black;
  font-family: "Inter";
  color: $white;
  align-items: center;
  touch-action: none;

  a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    height: unset;
    width: unset;
  }

  button {
    font-family: "Inter", sans-serif;
  }
}

.clock-app {
  position: relative;
  height: var(--height);
  overflow: hidden;
}

:root {
  --height: -webkit-fill-available;
  --expand-height: 50%;
  --expand-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

@include media("<tablet") {
  :root {
    --expand-height: 40%;
  }
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 5px;
  font-size: 0.7rem;
}

.swiper {
  cursor: grab;
}

.expand-panel {
  &.night {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
  }
}

.rc-slider {
  &-handle {
    transition: box-shadow 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    &:focus {
      box-shadow: 0 0 0 3px #cfcdcf !important;
    }
  }
}
