:root {
  --background-hue: 0, 0, 0, 0;
  --background-fade: 0;
}

.main__bg {
  pointer-events: none;

  // due-tone

  img {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-position: center;
    object-fit: cover;
    filter: brightness(0.8) contrast(1.1);
  }

  &::after {
    transition: background-color 0.3s ease-in;
    content: "";
    position: absolute;
    background: rgba(var(--background-hue), var(--background-fade));
    inset: 0;
    z-index: -1;
    mix-blend-mode: hue;
  }
}
